ion-app.md {
	maps-page {
		.search-container
    {
      .search-toolbar
      {
				.bar-buttons
				{
					.geolocation-button
					{
						margin-left: 0px;
						margin-right: -4px;
					}
				}
			}
		}

    logout {
      float: right;
    }

		ion-searchbar {
			.searchbar-input
			{
				border-radius: 2.1rem !important;
			}
		}
	}

}
