<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOCATION' | translate}}
      <button class="fa-align-right logout" (click)="doGoogleLogout()"><ion-icon name="power"></ion-icon></button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row no-padding class="map-row">
    <ion-col no-padding class="map-col">
      <div class="search-container">
        <ion-toolbar class="search-toolbar">
          <ion-buttons start>
            <button ion-button icon-only (click)="geolocateMe()" class="geolocation-button" [ngClass]="{'using-geolocation': map_model.using_geolocation}">
              <ion-icon name="locate"></ion-icon>
            </button>
          </ion-buttons>
          <ion-searchbar class="search-places-bar" placeholder="Search places near location" [(ngModel)]="map_model.search_query" (ionInput)="searchPlacesPredictions(map_model.search_query)" (ionClear)="clearSearch()"></ion-searchbar>
        </ion-toolbar>
      </div>
      <div class="map-container">
        <google-map [options]="map_model.map_options"></google-map>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
