<ion-header class="walkthrough-header">
</ion-header>

<ion-content class="walkthrough-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">

    <ion-slide class="slide-4">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-4-img.png" alt="slide 4 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">{{'WELCOME' | translate}}</h2>
      <p class="intro-text">
        Log in to your account.
      </p>
      <p class="intro-text">
        We are ready to rock!
      </p>
      <div class="button-bar">
        <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
